@import "../style/variables.scss";

.test-report-view {
    overflow: hidden;
}

.filter-card {
    margin-bottom: .5rem;
}

.collapse-icon {
    float: left;
    height: 2rem;
    line-height: 2rem;
    font-size: 2rem;
    font-weight: bolder;
    color: $primary;
    margin-right: 5px;
    width: 20px;
    margin-bottom: .5rem;
    text-align: center;

    .expand-panel:before {
        content: '+';
    }

    .collapse-panel:before {
        content: '-';
    }

}


//TODO: Extract into common file
::ng-deep .spinner-three-bounce {
    .bounce1 {
        background-color: $info !important;
    }

    .bounce2 {
        background-color: $success !important;
    }

    .bounce3 {
        background-color: $primary !important;
    }
}
