@import "../style/variables.scss";

$btn-history-diameter: 7px;

.test-case-history-component {
    .history-result-container{
        display: inline-block;
        
        .history-result {
            width: 3px;
            height: 22px;
            display: inline-block;
            background-color: $danger;
            margin-left:4px;
            vertical-align: top;
    
            &.success {
                background-color: $success;
            }
        }

        .btn-history {
            padding: 0px;
            height: $btn-history-diameter;
            width: $btn-history-diameter;
            border-radius: $btn-history-diameter;
            vertical-align: top;
            margin-left: 4px;
        }
    }
    
}