@import "../style/variables.scss";

.test-case-history-component {
    .history-result-container{
        display: inline-block;
        
        .history-result {
            width: 3px;
            height: 22px;
            display: inline-block;
            background-color: $danger;
            margin-left:4px;
            vertical-align: top;
    
            &.success {
                background-color: $success;
            }
        }

    }
    
}