@import "../style/variables.scss";
@import "../style/mixins.scss";

$hover-color: #485563;

.test-report-table-component {

    ::ng-deep ngx-loading {
        .backdrop {
            position: inherit;
        }

        .spinner-three-bounce {
            position: inherit;
            line-height: 1;
            margin: 0px;
            padding-top: 5px;

            .bounce1 {
                background-color: $info !important;
                height: 10px;
                width: 10px;
            }

            .bounce2 {
                background-color: $success !important;
                height: 10px;
                width: 10px;
            }

            .bounce3 {
                background-color: $primary !important;
                height: 10px;
                width: 10px;
            }
        }
    }

    ::ng-deep .ngx-datatable.material {
        background: none;
        height: calc(100vh - #{$header-height} - 15px);

        .datatable-row-group:hover {
            background-color: $hover-color;
            .datatable-body-cell.status-failed {
                @include opacity(.65);
            }
        }

        .datatable-row-odd {
            background-color: $dark;
        }

        .datatable-row-even {
            background-color: #3e4d5c;
        }

        .datatable-row-detail {
            background-color: #2e3d4c;

            .error-row {
                display: flex;
                flex-direction: row;

                .error-message {
                    flex: 0 1 auto;
                    white-space: normal;
                    min-width: 0px;
                    font-family: monospace;
                    padding-right: 30px;

                    .error-message-title {
                        color: $info
                    }
                }
                
            }
        }

        .datatable-body-row {
            .datatable-body-cell.status-failed {
                background-color: $danger;
            }
        }

        .datatable-body-cell,
        .datatable-header-cell {
            padding: 4px 8px;
        }

        .datatable-body-cell,
        .datatable-header-cell,
        .datatable-footer,
        a {
            color: $gray-100;
        }

        .needs-scr {
            padding-top: 3px;
            padding-bottom: 3px;
        }

        .datatable-footer {
            .trend {
                display: inline-block;
                height: 18px;
                width: 18px;
                line-height: 18px;
                border-radius: 9px;
                text-align: center;
                vertical-align: middle;
                font-weight: bolder;
                font-size: 12px;
            }

            .success-trend {
                background-color: $success
            }
    
            .fail-trend {
                background-color: $danger
            }
    
            .footer-column {
                padding: 5px 10px;
            }

            .footer-info {
                color: $info;
            }
        }

        
    }

}
